.moi_txt {
    text-align: center;
    margin: 0 auto;
    margin-top: 8vw;
}

.moi_txt h6 {
    margin-top: 1vw;
}

.line {
    width: 50px;
    height: 2px;
    background-color: red;
    margin: 0 auto;
    margin-top: 1vw;
}

.windows {
    font-size: 24px;
}

.row b {
    border: 5px solid white;
}

.row #imghv:hover {
    box-shadow: 0px 0px 8px black;
}

img {
    transition-duration: 0.2s;
}

.moimenu {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.moimenu a {
    display: inline-block;
    width: 190px;
    height: auto;
    transition-duration: 0.2s;
    /* border-radius: 20px; */
}

.moimenu .c:hover {
    /* text-shadow: 0 0 8px black; */
    background-color: #3B75B8;
}

.cara {
    border-radius: 10px;
}

.footer {
    background-color: #333333;
    color: white;
    border: none;
}

.footer li {
    list-style: none;
}

.pad {
    padding: 80px;
}

.abtxt {
    width: 700px;
    font-size: 20px;
    padding-left: 120px
}

.divp {
    padding: 20px;
    font-size: 20px;
}

.colvo {
    font-size: 88px;
    color: #3B75B8;
    letter-spacing: -5px;
}

.undcolvo {
    color: rgba(0, 0, 0, 0.459);
}

.abcom {
    width: 300px;
    height: 53px;
    margin: 0 auto;
    color: white;
    background-color: #1F1E1B;
    box-shadow: 0 0 10px black;
}

.abcom_production {
    width: 340px;
    height: 53px;
    margin: 0 auto;
    color: white;
    background-color: #1F1E1B;
    box-shadow: 0 0 10px black;
}

.abcom_abokna {
    margin: 0 auto;
    width: 500px;
    height: 53px;
    color: white;
    background-color: #1F1E1B;
    box-shadow: 0 0 10px black;
}

.abcom_plast {
    margin: 0 auto;
    width: 438px;
    height: 53px;
    color: white;
    background-color: #1F1E1B;
    box-shadow: 0 0 10px black;
    margin-top: 1vw;
    text-align: center;
}

.forform {
    width: 100%;
    height: 210px;
    background-color: #4990E3;
    margin-top: 5vw;
}

.upform {
    height: 50px;
    width: 250px;
    color: white;
    font-size: 30px;
}

.toup {
    width: 100px;
    border: 2px solid #4990E3;
    background: #4990E3;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    cursor: pointer;
    color: white;
    font-family: verdana;
    font-size: 12px;
    /* border-radius: 20px; */
    transition-duration: 0.3s;
    z-index: 2;
    float: right;
    text-decoration: none;
    box-shadow: 0px 0px 5px black;
}

.toup:hover {
    box-shadow: 0px 0px 10px black;
    text-decoration: none;
    color: white;
}

#down {
    margin-top: 3vw;
}

#underwindows {
    margin-top: 5vw;
}

.popup {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}

.popup_bg {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.popup_img {
    position: fixed;
    /* margin: 0 auto; */
    z-index: 2;
    max-height: 94%;
    max-width: 94%;
    /* margin: 1% 0 0 0; */
    margin-left: -41.7vw;
    margin-top: 1vw;
}

.padtop {
    margin-top: 1vw;
    cursor: pointer;
}



@media (max-width: 990px) {
    .moimenu {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        text-align: left;
    }
}

@media (max-width: 1020px) {
    .carousel-inner img {
        height: 400px;
    }
}

@media (max-width: 734px) {
    .carousel-item img {
        height: 250px;
    }
}

@media (max-width: 500px) {
    .abcom_production {
        width: 240px;
        font-size: 25px;
        height: 33px;
        margin: 0 auto;
        color: white;
        background-color: #1F1E1B;
        box-shadow: 0 0 10px black;
    }
    .abcom_abokna {
        margin: 0 auto;
        font-size: 23px;
        width: 300px;
        height: 32px;
        color: white;
        background-color: #1F1E1B;
        box-shadow: 0 0 10px black;
    }
    .abcom {
        width: 200px;
        height: 33px;
        font-size: 25px;
        margin: 0 auto;
        color: white;
        background-color: #1F1E1B;
        box-shadow: 0 0 10px black;
    }
    .upform p {
        height: 50px;
        width: 250px;
        color: white;
        font-size: 23px;
        margin: 0 auto;
    }
}